<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
    <head>
        <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
        <title>Companies: <%= controller.action_name %></title>
        <%= stylesheet_link_tag 'scaffold', 'depot' %>
    </head>
    <body>
        <center>
            <h1>Contacts 0.1</h1>
        </center>
        <br/>
        <p style="color: green">
            <%= flash[:notice] %>
        </p>
        <%= yield %>
        <br/>
        <center>
            <%= Time.now %>
        </center>
    </body>
</html>
