<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
        <title>Contacts 0.1</title>
        <%= stylesheet_link_tag "depot", :media => "all" %>
    </head>
    <body id="store">
        <div id="banner">
            <img src="/images/logo.png"/><%= @page_title || "Contacts 0.1" %>
        </div>
        <div id="columns">
            <div id="side">
                <a href="http://www....">Home</a>
                <br/>
                <a href="http://www..../faq">Questions</a>
                <br/>
                <a href="http://www..../news">News</a>
                <br/>
                <a href="http://www..../contact">Contact</a>
                <br/>
            </div>
            <div id="main">
                <%= yield :layout %>
            </div>
        </div>
    </body>
</html>
